* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alpha2 {
  background: #342800;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  padding: 32px;
}

.time {
  width: 100%;
  text-align: center;
  color: #ba7528;
  font-size: 22px;
  padding: 8px;
  display: flex;
  column-gap: 15px;
}

.border {
  border: 2px solid #ac8400;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
}

.logo {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.project {
  height: 150px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.project>p {
  text-align: center;
}

.cor {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.cor>div {
  width: 80%;
  padding: 8px 10px;
}

.cor>h2 {
  position: absolute;
  top: -2px;
  left: 10px;
  background: #342800;
  font-size: 22px;
}

.details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10px 0 30px 0;
}

.details {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 10px;
}

p.detail-key {
  padding: 8px;
}

p.detail-value {
  padding: 8px;
  background: #3b4252;
}

.footer {
  display: flex;
  position: relative;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

p.footer-value {
  width: 49%;
  background: red;
  padding: 10px;
  text-align: center;
}

h2.footer-heading {
  position: absolute;
  top: -17px;
  background: #342800;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  width: max-content;
}

.menu-icon-phase2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 46px;
  height: 46px;
  cursor: pointer;
  border-radius: 12px;
  background: #ac8400;
  border: 1.53px solid #ac8400;
}

.modal.phase2 {
  height: auto !important;
  background: #342800;
  border: 1.53px solid #ac8400;
}

.modal.phase2 .modal-btn-group button{
  background-color: #ac8400;
  color: white;
}

@media only screen and (max-width: 1124px) {
  .header {
    flex-wrap: wrap;
  }

  .project {
    order: 1;
    min-width: 100%;
  }

  .logo {
    width: 49%;
  }

  .cor {
    width: 49%;
  }
}

@media only screen and (max-width: 768px) {
  .details-container {
    grid-template-columns: repeat(1, 1fr);
  }

  p.footer-value {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 100%;
  }

  .cor {
    width: 100%;
  }
}